* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
  --first-color: palegreen;
  --main-color: rgba(30, 143, 255, 0.868);
  --third-color: lightblue;
  --bg-color: white;
  --box-shadow: 0px 2px 1px grey;
  --main-bg: rgba(245, 245, 245, 0.889);
  --success-bg: palegreen;
  --error-bg: lightcoral;
  --blur: 5px;
  --border-radius: 7px;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

body,
html {
  min-width: 100vw;
  min-height: 100vh;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.584);
  padding: 12px;
}

main {
  flex: 1;
  display: flex;
  gap: 10px;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--main-bg);
  backdrop-filter: blur(var(--blur));
  z-index: 1;
  border-radius: var(--border-radius);
}

div.links {
  display: flex;
  gap: 5px;
}

h1.logo {
  color: var(--main-color);
  font-weight: bolder;
  font-style: italic;
}

a {
  color: var(--main-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  gap: 20px;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
  color: var(--main-color);
  padding: 20px;
  height: fit-content;
  border-radius: var(--border-radius);
}

form > div.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  flex: 1;
}

form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  border: none;
  border-bottom: medium solid black;
  width: 80%;
  background-color: whitesmoke;
  padding: 5px;
}

input[type="email"] {
  text-align: center;
}

label:has(input:required) > h2::after {
  content: "*";
  color: red;
  font-weight: bold;
}

.button {
  background-color: var(--main-color);
  backdrop-filter: blur(var(--blur));
  color: white;
  font-weight: bolder;
  text-shadow: 0px 1px 1px black;
  border-radius: var(--border-radius);
  padding: 5px;
  width: fit-content;
  align-self: center;
  cursor: pointer;
  text-align: center;
}

.button[disabled] {
  background-color: grey;
  opacity: 0.4;
  cursor: not-allowed;
}

@keyframes flash {
  from {
    height: 0px;
  }

  to {
    height: 100px;
  }
}

.flash {
  flex-direction: column;
  height: 100px;
  animation: flash 2s forwards;
  display: flex;
  box-shadow: inset 0px 0px 2px 1px;
  position: relative;
  padding: 7px;
  scrollbar-color: transparent;
  border-radius: var(--border-radius);
}

.flash::-webkit-scrollbar-track {
  background: transparent;
}

.flash h2 {
  text-align: center;
}

.flash > * {
  width: 1;
}

.success {
  background-color: var(--first-color);
  color: darkgreen;
}

.error {
  background-color: var(--error-bg);
  color: darkred;
}

.progress {
  overflow-y: scroll;
  background-color: var(--main-bg);
}

span.close {
  text-shadow: 1px -1px grey;
  position: absolute;
  left: 5px;
  top: 5px;
  color: white;
  font-weight: bolder;
  padding: 5px;
  cursor: pointer;
  color: var(--main-color);
}

main > .drop-zone {
  flex: 1;
  flex-direction: column;
  display: flex;
  border: thin dotted white;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--main-bg);
  position: relative;
  outline: 1px solid var(--main-bg);
  border-style: dashed;
  border-color: var(--main-color);
  border-width: medium;
}

.drop-zone > .empty-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
}

.drop-zone.active {
  background-color: lightblue;
}

.drop-zone.disabled {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(128, 128, 128, 0.746);
}

aside {
  display: flex;
  padding: 15px;
  gap: 10px;
  flex-direction: column;
  background-color: var(--main-bg);
  backdrop-filter: blur(var(--blur));
  border-radius: var(--border-radius);
}

aside .button {
  width: 100%;
}

.content {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  height: 30px;
  width: 100%;
}

.content .floating-menu {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
  right: 0px;
}

.floating-menu .options {
  height: 0px;
  overflow: hidden;
}

.options div {
  display: flex;
  justify-content: flex-end;
}

.floating-menu .options.active {
  height: auto;
  overflow: visible;
  background-color: var(--main-bg);
  box-shadow: -3px -3px 4px grey;
  padding: 7px;
  z-index: 1;
  border-radius: var(--border-radius);
  color: black;
}

.floating-menu .options.active div:hover {
  color: var(--main-color);
  cursor: pointer;
}

.floating-menu .options.active div:not(:last-child) {
  border-bottom: thin solid grey;
}

.floating-menu .additional-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.floating-menu .more {
  border-radius: 100%;
  padding: 3px;
  color: black;
  cursor: pointer;
  position: relative;
  display: flex;
  text-align: end;
}

.floating-menu .icon.more:hover,
.icon.more.active {
  background-color: grey;
  color: black;
}

.content:not(:last-child) {
  border-bottom: thin solid grey;
}

.content > * {
  height: inherit;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

@keyframes loading {
  from {
    color: black;
  }

  to {
    color: grey;
  }
}

@keyframes removed {
  from {
    height: 35px;
  }

  to {
    height: 0px;
  }
}

@keyframes new {
  from {
    height: 0px;
  }

  to {
    height: 35px;
  }
}

.content > span.icon {
  line-height: inherit;
  vertical-align: bottom;
}

.content.folder {
  cursor: pointer;
}

.folder > .icon {
  color: tan;
}

.content.image > .icon {
  color: violet;
}

.video > .icon {
  color: blue;
}

.other > .icon {
  color: grey;
}
.content.folder:not(:has(.options:hover)):hover > * {
  color: var(--main-color);
}

.content.uploaded span.info,
.content.new span.info {
  color: var(--main-color);
}

.content.removed {
  text-decoration: line-through;
  animation-name: removed;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  text-decoration: line-through red;
  color: red;
}

.content.loading {
  height: 0;
  cursor: not-allowed;
  animation:
    loading 2.5s infinite alternate,
    new 2.5s 1 forwards;
}

.content.new {
  height: 0;
  animation-name: new;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

div.modal.active {
  height: 100vh;
  width: 100vw;
}

div.modal {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.174);
  backdrop-filter: blur(var(--blur));
  z-index: 1;
}

div.modal.duplicate > div.info {
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
  color: var(--main-color);
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
}

div.modal.duplicate > div.info > div.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

form > h1 {
  color: black;
}
